:root {
  --background-white-color: #ffffff;
  --background-dark-grey-color: #2f303a;
  --background-grey-color: #f5f4fa;
  --first-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
}

body {
  background-color: var(--background-white-color);
  color: var(--secondary-color);

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list {
  list-style: none;
}
/* логотип */
.logo {
  color: #000000;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo-accent {
  color: var(--accent-color);
}
.link {
  text-decoration: none;
}
/* навігація */
.nav-link,
.contact-link {
  color: var(--first-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.contact-link {
  color: var(--secondary-color);
}
.nav-link.active {
  color: var(--accent-color);
}
/* Герой  */
.hero {
  background-color: var(--background-dark-grey-color);
  text-align: center;
}
.hero-title {
  color: var(--background-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-btn {
  color: var(--background-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
}
/* Переваги */
.section-title {
  color: var(--first-color);

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.feature-title {
  color: var(--first-color);

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
/* Команда */
.team {
  background-color: var(--background-grey-color);
}
.team-item {
  background-color: var(--background-white-color);
}
.team-title,
.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-title {
  color: var(--first-color);
  font-weight: 500;
}

/* Підвал */
.page-footer {
  background-color: var(--background-dark-grey-color);
}
.page-footer .logo {
  color: var(--background-white-color);
}
.addres-list {
  color: var(--background-white-color);
  font-style: normal;
}
.addres-list.pale {
  color: rgba(255, 255, 255, 0.6);
}
.addres-list:hover,
.addres-list:focus {
  color: var(--accent-color);
}
/* portfolio */
/* Фільтр */
.btn-filtr {
  color: var(--first-color);
  background-color: var(--background-grey-color);

  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.61;
  letter-spacing: inherit;
  text-align: center;
  cursor: pointer;
}

.btn-filtr:hover,
.btn-filtr:focus {
  background-color: var(--accent-color);
  color: var(--background-white-color);
}
/* Проекти */
.project-title {
  color: var(--first-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-text {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.88;
}
