:root {
  --background-white-color: #ffffff;
  --background-dark-grey-color: #2f303a;
  --background-grey-color: #f5f4fa;
  --first-color: #212121;
  --secondary-color: #757575;
  --third-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --border-color: #ececec;
}

body {
  width: 1600px;
  margin: 0 auto;

  background-color: var(--background-white-color);
  color: var(--secondary-color);

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list {
  padding: 0;
  margin: 0;

  list-style: none;
}
.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
/* Шапка */
.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* логотип */
.logo {
  color: #000000;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo-accent {
  color: var(--accent-color);
}
.link {
  text-decoration: none;
}
/* навігація */
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.site-nav {
  display: flex;
  flex-direction: row;
  padding-left: 0px;
  margin-left: 93px;
}
.contact {
  display: flex;
  flex-direction: row;
}
.nav-link,
.contact-link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;

  color: var(--first-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.site-nav .item + .item,
.contact .item + .item {
  margin-left: 50px;
}
.nav-link.active {
  color: var(--accent-color);
}
/* Герой  */
.hero {
  padding: 200px 452px;
  margin-bottom: 94px;

  background-color: var(--background-dark-grey-color);
  text-align: center;
}
.hero-title {
  margin-bottom: 30px;

  color: var(--background-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-btn {
  padding: 9px 31px;
  border: 1px solid transparent;
  border-radius: 4px;

  color: var(--background-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
}
/* Переваги */
.feature.list {
  display: flex;
  margin-bottom: 94px;
}
.section-title {
  margin-bottom: 50px;

  color: var(--first-color);

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.feature .item + .item {
  margin-left: 30px;
}
.feature-title {
  color: var(--first-color);

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
/* Напрямки роботи */
.works {
  margin-bottom: 94px;
}

.work {
  display: flex;
}
.work .item + .item {
  margin-left: 30px;
}
/* Команда */
.teams {
  padding: 94px 215px;
  background-color: var(--background-grey-color);
}
.team {
  display: flex;
}
.team-item {
  background-color: var(--background-white-color);
}
.team .team-item + .team-item {
  margin-left: 30px;
}
.team.foto {
  margin-bottom: 30px;
}
.team-title,
.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-title {
  color: var(--first-color);
  font-weight: 500;
  margin-bottom: 10px;
}
.team-position {
  margin-top: 0;
  margin-bottom: 30px;
}

/* Підвал */
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--background-dark-grey-color);
}
.page-footer .logo {
  display: block;
  margin-bottom: 20px;
  color: var(--background-white-color);
}
.addres-list {
  color: var(--background-white-color);
  font-style: normal;
}
.addres-list.pale {
  color: var(--third-color);
}
.addres-list:hover,
.addres-list:focus {
  color: var(--accent-color);
}
.addres .item + .item {
  margin-top: 5px;
}
/* portfolio */
/* Фільтр */
.portfolio {
  border-top: 1px solid var(--border-color);
}
.btn.list {
  display: flex;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 50px;
}
.btn .item + .item {
  margin-left: 8px;
}
.btn-filtr {
  padding: 6px 22px;

  color: var(--first-color);
  background-color: var(--background-grey-color);

  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.61;
  letter-spacing: inherit;
  text-align: center;
  cursor: pointer;

  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-filtr:hover,
.btn-filtr:focus {
  background-color: var(--accent-color);
  color: var(--background-white-color);
}
/* Проекти */
.project {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 94px;
}
.project-item {
  margin: 0;
}
.project .item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.project .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.item-description {
  margin-top: -8px;
  padding: 20px 24px;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}
.project-title {
  color: var(--first-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-text {
  margin-top: 4px;
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.88;
}
